## Tuples - immutable 
                - cannot change /override

In [2]:
t=(1,2,3)
print(t)
print(t[0])

(1, 2, 3)
1

In [3]:
t.append(6) # cannot append or change

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
t.index(2)

1

In [7]:
t.count(1)

1

In [12]:
t1=(1,2,3,1,1)
print(t1)

(1, 2, 3, 1, 1)

In [13]:
t1.count(1)

3

In [14]:
t.count(5)

0

In [20]:
print(t1)                 
print(sum(t1))
print(max(t1))
print(min(t1))

(1, 2, 3, 1, 1)
8
3
1

In [21]:
l=[1,2,3]
print(sum(l))
print(max(l))
print(min(l))

6
3
1

In [23]:
t2=(34,"python",True,89.5)
print(t2)
print(t2[0])
print(t2[2:])
print(t2[1][2])

(34, 'python', True, 89.5)
34
(True, 89.5)
t

In [25]:
t3=(3,4,(34,67))
print(t3)
print(t3[2])
print(t3[2][1])

(3, 4, (34, 67))
(34, 67)
67

In [28]:
t4=(4,5,[9,5,8])
print(t4)
print(t4[2])

(4, 5, [9, 5, 8])
[9, 5, 8]

In [29]:
t5=(4,5,{7,5,6})
print(t5)

(4, 5, {5, 6, 7})

In [31]:
t6=(4,5,{3:"sai",4:"charan"})
print(t6)

(4, 5, {3: 'sai', 4: 'charan'})

In [55]:
# create a list of list where each sublist consists of 3 marks of the student
student_marks=[[60,90,100],[50,40,70],[80,100,90]]
print(student_marks)

[[60, 90, 100], [50, 40, 70], [80, 100, 90]]

In [56]:
for i in range(len(student_marks)):
    print(student_marks[i])

[60, 90, 100]
[50, 40, 70]
[80, 100, 90]

In [57]:
for i in range(len(student_marks)):
    student_marks[i].append(sum(student_marks[i]))
print(student_marks)

[[60, 90, 100, 250], [50, 40, 70, 160], [80, 100, 90, 270]]

In [36]:
a=[6,10,20]
a.append(sum(a))
print(a)

[6, 10, 20, 36]

In [39]:
for i in a:

7
11
21
37

In [37]:
for i in a:
    print(i+1)

7
11
21
37

In [41]:
aplus=[]
for i in a:
    aplus.append(i+1)
print(aplus)

[7, 11, 21, 37]

In [42]:
print(a)

[6, 10, 20, 36]

In [45]:
list(range(len(a)))

[0, 1, 2, 3]

In [43]:
for i in range(len(a)):
    a[i]=a[i]+1
print(a)

[7, 11, 21, 37]

In [51]:
# to access element 
for i in a:
    print(i,end=" ")
print()  # line gap b/w two lists

# to access element using index
for i in range(len(a)):
    print(a[i],end=" ")

7 11 21 37
7 11 21 37

# Dictionary     
    - does not preserve order
    - mutable
    - empty dictionary {},dict()
    - {key1:value1,key2:value2}
    - items are seperated by ,
    - each item in a dictionary is a key,value pair
    - keys are unique

In [65]:
d={"maths":36,"english":98,"physics":60}
d["maths"]

36

In [66]:
print(d)

{'maths': 36, 'english': 98, 'physics': 60}

In [67]:
d["english"]=86
print(d)

{'maths': 36, 'english': 86, 'physics': 60}

In [68]:
d["social"]=50
print(d)

{'maths': 36, 'english': 86, 'physics': 60, 'social': 50}

In [73]:
for i in d:     # to access keys
    print(i)

maths
english
physics
social

In [74]:
for i in d:   # to access values
    print(d[i])

36
86
60
50

In [77]:
for items in d:
    print(key,value)

NameError: name 'key' is not defined

In [83]:
# to calculate sum of the values in for loop
s=0
for i in d:
    s+=d[i]
print(s)

232

In [89]:
# to access keys
print(d.keys())
# to access values
print(d.values())
# to access key value pairs
print(d.items())   # list of tuples each touple in a key value pair

dict_keys(['maths', 'english', 'physics', 'social'])
dict_values([36, 86, 60, 50])
dict_items([('maths', 36), ('english', 86), ('physics', 60), ('social', 50)])

In [91]:
sum(d.values())

232

In [93]:
for key,value in d.items():
    print(key,":",value)

maths : 36
english : 86
physics : 60
social : 50

In [97]:
d.update({'total':sum(d.values())})
print(d)

{'maths': 36, 'english': 86, 'physics': 60, 'social': 50, 'total': 232}

In [98]:
# to remove an item
d.pop('total')
print(d)

{'maths': 36, 'english': 86, 'physics': 60, 'social': 50}

create a dictionary with 3 students data <br>
key-student name<br>
value-list of 3 subject marks of the student<br>

In [106]:
std_marks={"charan":[60,70,80],"hruthik":[90,100,80],"raina":[70,40,50]}
std_marks

{'charan': [60, 70, 80], 'hruthik': [90, 100, 80], 'raina': [70, 40, 50]}

add total marks as the last element in the list of each student<br>
exampe:o/p <br>
    {'charan':[60,70,80,210]}

In [107]:
for i in std_marks:
    std_marks[i].append(sum(std_marks[i]))
print(std_marks)

{'charan': [60, 70, 80, 210], 'hruthik': [90, 100, 80, 270], 'raina': [70, 40, 50, 160]}

In [108]:
for k,v in std_marks.items():
    std_marks[k].append(sum(v))
print(std_marks)

{'charan': [60, 70, 80, 210, 420], 'hruthik': [90, 100, 80, 270, 540], 'raina': [70, 40, 50, 160, 320]}